@import "~antd/dist/antd.css";

.ant-layout {
  background-color: #fff;
}

.card {
  width: 66%;
  background-color: #fbfbfb;
  position: relative;
  margin: 30px auto;
  padding: 20px;
  border-radius: 16px;
  font-size: 24px;
  font-family: "open-sans";
  font-weight: 600;

  color: #2d2a2b;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #4b5151;
  padding-bottom: 12px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  color: #4b5151;
  font-family: sans-serif;
}

.form-input {
  padding: 10px;
  column-gap: 10px;
}

.form-input input {
  display: flex;
  justify-items: center;
  border-radius: 15px;
}
