@import "~antd/dist/antd.css";

*html {
  font-size: 62.5%;
}

.ant-layout {
  background-color: #fff;
}
.card {
  width: 66%;
  background-color: #fbfbfb;
  position: relative;
  margin: 30px auto;
  padding: 20px;
  border-radius: 16px;
  font-size: 24px;
  font-family: "open-sans";
  font-weight: 600;
  color: #2d2a2b;
}
.ant-card-head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #4b5151;
}

.ant-card-body {
  /* font-size: clamp(1rem, 2vw, 1.5rem); */
  font-size: 18px;
  line-height: 28px;
  background-color: #fbfbfb;
  font-weight: 400;
  font-family: "Open Sans";
  color: #2d2a2b;
}

.ant-btn {
  background: #fbfbfb;
  /* Text/Dark Gray */
  border: 0.5px solid #4b5151;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #4b5151;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 10px;
  justify-items: left;
}

.ant-btn-default {
  background-color: #fbfbfb;
}

.ant-row {
  display: flex;
  flex-wrap: wrap;
}
.ant-col-16 {
  flex: 66%;
}
.ant-col-8 {
  flex: 33%;
}

@media (max-width: 800px) {
  .ant-col-16,
  .ant-col-8 {
    flex: 100%;
  }
}
