*html {
  font-size: 62.5%;
}

.container {
  margin: 100px auto;
  max-width: 80%;
  padding: 20px 15px;
  background-color: #9be1df;
  color: #262626;
  box-shadow: 1px 1px 4px 1px lightgray;
}

.container label {
  display: block;
  width: 80%;
  letter-spacing: 0.1 rem;
  font-style: italic;
  margin-bottom: 3px;
  font-weight: 600;
}

.container input,
.container textarea {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 4px 1px rgb(58, 57, 57);
}
.container textarea {
  height: 120px;
}

.container input:focus,
.container textarea:focus {
  box-shadow: 1px 1px 4px 1px rgb(49, 170, 240);
}

.singleItem {
  margin: 10px auto;
  margin-right: 20px;
  padding: 10px;
}

.btn {
  width: 100%;
  text-align: center;
}
.btn input {
  width: 150px;
  font-size: 18px;
  letter-spacing: 0.2rem;
  padding: 5px 10px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-top: 5px;
}

.card {
  width: 66%;
  background-color: #f4fafa;
  position: relative;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
}
.ant-card-head-title {
  font-size: clamp(1.25rem, 2.2vw, 2rem);
  font-weight: 500;
}

.ant-card-body {
  letter-spacing: inherit;
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: clamp(1rem, 2vw, 1.5rem);
}
